.container
	.panel.panel-default
		.panel-body
			h2 {{ username }}
				p Level: {{ PlayerData.player.level }}
				.progress
					.progress-bar.progress-bar-success.progress-bar-stripes(style="width: {{PlayerData.player.levelComplete * 100 | number:0}}%")
			h3 Player information: resources
				.row
					.col-md-3
						p Gold: {{ PlayerData.resources['gold'] | number:0 }}
					.col-md-3
						p Bionium: {{ PlayerData.resources['bionium'] | number:0 }}
					.col-md-3
						p Qubitium: {{ PlayerData.resources['qubitium'] | number:0 }}
					.col-md-3
						p Transendium: {{ PlayerData.resources['transendium'] | number:0 }}

			h3 Resource income per hour
				.row
					.col-md-3
						p Gold: {{ PlayerData.resourcesPerHour['gold'] | number:0 }}
					.col-md-3
						p Bionium: {{ PlayerData.resourcesPerHour['bionium'] | number:0 }}
					.col-md-3
						p Qubitium: {{ PlayerData.resourcesPerHour['qubitium'] | number:0 }}
					.col-md-3
						p Transendium: {{ PlayerData.resourcesPerHour['transendium'] | number:0 }}

			table.table.table-hover.neat
				thead
					tr
						th Building
						th Gold
						th Biotium
						th Qubitium
						th Transendium
						th Action
				tbody
					tr(ng-repeat="item in PlayerData.buildings")
						td {{ item.name }}
						td {{ item.gold | number:0 }}
						td {{ item.bionium | number:0 }}
						td {{ item.qubitium | number:0 }}
						td {{ item.transendium | number:0 }}
						td
							button(ng-show="item.active" ng-click="takeAction(item.prop.actionId)") Upgrade
							p(ng-hide="item.active") Requirements
