extends includes/layout
block main-content
    nav.nav.navbar-inverse.navbar-static-top(id="main-nav" role="navigation")
        .container
            .navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navBarCollapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#/") Terraquest
            <!-- Collect the nav links, forms, and other content for toggling -->
            .collapse.navbar-collapse(id="navBarCollapse")
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home
                    li
                        a(href="#/planet") Planet
                    li
                        a(href="#/manage") Manage
                div(ng-include="'partials/account/login'")
               
    section
        div(ng-view)

    footer
        p.text-center
          | Terraquest v. 0.1.0 (early alpha) | Team "Castle" &copy; 2015
