doctype
html
    head
        meta(charset="UTF-8")
        title Terraquest
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")

    body(ng-app="app")
        block main-content

        include scripts
        include currentUser

