doctype
html
    head
        meta(charset="UTF-8")
        title Terraquest
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:url" content="http://terraquest.azurewebsites.net/#/")
        meta(property="og:type" content="website")
        meta(property="og:title" content="Terraquest")
        meta(property="og:description" content="Planet in a sandbox mass multiplayer simulation game.")
        meta(property="og:image" content="http://terraquest.azurewebsites.net/img/logo.png")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css")
        link(rel="stylesheet" href="/css/darkly.css")
        link(rel="stylesheet" href="/css/site.css")

    body(ng-app="app")
        include fbPluggin
        block main-content

        include scripts
        include currentUser
