.container
    .jumbotron
        h1 Terraquest
        h2 Planet in a sandbox
    .row
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center Game
                .panel-body Information about the game here, keypoints, screenshots
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center Login/Manage Control
                .panel-body User information here.